.m-signin-form {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  height: 200px;

  &-input-name,
  &-input-password,
  &-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-btn {
    margin-top: 15px;
  }
}
