<div class="m-login-form">
  <app-common-input
    class="a-input-name"
    (actualValue)="getUserValue($event)"
    [style]="{
      width: '220px'
    }"
    [placeholder]="'Usuario'"
  ></app-common-input>
  <app-icon-input
    class="a-input-password"
    (actualValue)="getPasswordValue($event)"
    [style]="{
      width: '220px'
    }"
    [placeholder]="'Contraseña'"
  ></app-icon-input>
  <app-common-button
    class="a-login-btn"
    [variant]="'content'"
    [label]="'Iniciar sesión'"
    [style]="{
      height: '30px',
      width: '80%'
    }"
  ></app-common-button>
</div>
