$primary-green: #3b9b78;
$primary-green-dark: #328566;
$secondary-green: #52a589;
$background-grey: #242424;
$background-grey-dark: #262727;
$background-grey-light: #4e4e4e;
$hover-white: rgba(255, 255, 255, 0.2);
$hover-dark: rgba(0, 0, 0, 0.1);

$font-light: #e6e6e6;

$error: #b12020;
$successfully: #62e762;
