$primary-green: #2d7e60;
$secondary-green: #7ff6cf;
$background-grey: #242424;
$background-grey-dark: #1e1f1f;
$background-grey-light: #303432;

$font-light: #e6e6e6;

$error: #b12020;
$successfully: #62e762;
